// this mixin creates the main breakpoints
// to create a breakpoint, format like this: 
// @include bp(large) {
//    styles go here
//  }
// custom breakpoints would be in this format:
// @include bp('(max-width: 30px) and (min-width: 20px)')

$breakpoints: (
	xsmall: 390px,
	small: 640px,
	medium: 1024px,
	large: 1440px
);


// Mobile First
@mixin break($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (min-width: 391px) { @content; }
  }

  @if $breakpoint == medium {
    @media only screen and (min-width: 641px) { @content; }
  }

  @else if $breakpoint == tablet-ls {
    @media only screen and (min-width: 769px) { @content; }
  }

  @else if $breakpoint == large {
    @media only screen and (min-width: 1025px) { @content; }
  }

  @else if $breakpoint == xlarge {
    @media only screen and (min-width: 1441px) { @content; }
  }

  @else {
		@media only screen and (#{$breakpoint}) { @content; }
	}
}