@forward 'ncids-minimal';
@forward 'ncids-application-page';
@forward "usa-footer";
@forward "nci-header";
@forward "usa-banner";

@forward "usa-button";
@forward "usa-form-group";
@forward "usa-input";
@forward "usa-error-message";
@forward "usa-alert";
@use 'uswds-core' as *;

footer .grid-row {
    @include u-display('flex');
    @include u-flex('wrap');
}

.usa-footer__primary-content {
    @include u-padding-right(4);
    //padding-right: 2rem;
}

@media (max-width: 63.99em) {
    html body .usa-footer__nci-return-to-top a::after {
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="m4 12 1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" fill="%231B1B1B"/></svg>');
    }
}

.usa-label[for="email"] {
    @include u-text($theme-body-background-color); // white
}
nav.nci-header-nav ul.nci-header-nav__primary li.nci-header-nav__primary-item > button.nci-header-nav__primary-button[aria-expanded=false] span::after {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z" fill="%231B1B1B"/></svg>') no-repeat center / contain;
}

nav.nci-header-nav ul.nci-header-nav__primary li.nci-header-nav__primary-item > button.nci-header-nav__primary-button[aria-expanded=true] span::after {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/></svg>') no-repeat center / contain;
}

@media (min-width: 64em) {
    // div.nci-header__navbar, nav.nci-header-nav div.nci-header-nav__inner {
    //     @include u-padding-x(0);
    //     // padding-left: 2rem;
    //     // padding-right: 2rem;
    // }

    header.mock-header div.nci-header__navbar, header.mock-header nav.nci-header-nav div.nci-header-nav__inner {
        @include u-padding-x(0);
    }
}

// div.nci-header__navbar, nav.nci-header-nav div.nci-header-nav__inner {
//         @include u-padding-x(1);
//         // padding-left: 2rem;
//         // padding-right: 2rem;
//     }
// #page {
//     @include u-padding-x(2);
// }

@media (min-width: 64em) {
    div.content-container {
        @include u-padding-x(2s);
    }

    .mock-header {
        @include u-padding-x(1);
    }
}

