@use "uswds-core" as *;
@import '../../styles/breakpoints';

.results {
	h2 {
		@include u-margin-top(0);
		@include u-margin-bottom(1);
		font-size: 1.25em;
		line-height: 1.5em;
	}
	h3,
	h4 {
		@include u-margin-top(5);
		@include u-margin-bottom(30px);
		font-size: 1.25em;
		line-height: 1.5em;
	}

	/*
		--------------------------------------
		Feature Box for BestBet and Definition
		--------------------------------------
	*/
	&__feature {
		@include u-margin-bottom(5);
	}
	&__feature--bestbet--definition {
		@include u-position(relative);
		@include u-display(flex);
		@include u-flex(wrap, 'align-start', 'justify-center');
		@include u-margin-x(-3.125em);
		@include u-margin-bottom(50px);
		padding: 2.5% 3.125em;
		background-color: #dbf2f8;

		.best-bet {
			@include u-margin-bottom(2);
			background-color: transparent;
		}

		.definition {
			@include u-margin-bottom(0);
			@include u-bg($theme-body-background-color); // white
			flex: 33.33333% 1;

			.pronunciation {
				&__term {
					@include u-display(inline);
				}
			}
		}
	}
}

@include break(medium) {
	.results {
		&__feature--bestbet--definition {
			@include u-flex('no-wrap');
			.best-bet {
				@include u-margin-x(0);
				@include u-padding-right(0.9375em);
				flex: 66.66667% 1;

				.best-bet__item {
					@include u-padding(0);
				}
			}
		}
	}

}
