@use "uswds-core" as *;
@import '../../../styles/breakpoints';

.pronunciation {
	//display: flex;
	font-family: Noto Sans, 'Century Gothic', Arial, sans-serif;
	&__term {
		@include u-padding-top(1); //8px or .5em
		@include u-display(inline-block);
		@include u-width(auto);
		@include u-text($theme-font-weight-bold);
		line-height: 1.4;
	}
	&__audio-key-container {
		@include u-display(inline-block);
	}
	&__audio {
		@include u-display(inline);
		@include u-width(42px);
		@include u-margin-right(5px);
	}
	&__key {
		@include u-display(inline);
		line-height: 1.4;
	}
	& .btnAudio {
		@include u-padding-y(5px);
		@include u-padding-x(0);
	}
}
